@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

		*{
    		margin: 0;
    		padding: 0;
    		box-sizing: border-box;
 		   text-decoration: none;
		}
		
		body{
			background-color: black;

		}
		
		.head{
			color: #fff;
			background-color: crimson;
			width: max-width;
			height: 150px;
			text-align: center;
			padding-top: 30px;
			border-radius: 10px; 
			font-family: 'Ubuntu', sans-serif;
		}
		.head .block a{
			color: #fff;
    		font-size: 20px;
    		font-weight: 600;
		}
		.head .block a:hover{
			color: black;
			transition: all 0.3s ease;
		}

		.head .block .button{
			display: inline-block;
    		background: black;
    		color: #fff;
    		font-size: 20px;
    		font-weight: 500;
   			padding: 10px 30px;
    		margin-top: 20px;
    		border-radius: 6px;
    		border: 2px solid black;
    		transition: all 0.3s ease;
		}
		.head .block .button:hover{
			color: black;
    		background: none;

		}
		

		.table{
			width: 70%;
			margin-left: 15%;
			margin-right: 15%;
			margin-top: 5%;
			border-collapse: collapse;		
			font-size: 0.9em;
			min-width: 300px;
			border-radius: 5px 5px 0 0;
			overflow: hidden;
			box-shadow: 0 0 20px rgba(0,0,0,0.15)
		}
		.table thead tr{
			background-color: crimson;
			color: #ffff;
			text-align: left;
			font-weight: bold;
		}
		.table th,.table td{
			padding: 12px 15px;
		}
		.table tbody tr{
			border-bottom: 2px solid #dddddd;
		}
		.table tbody tr:nth-of-type(even){
			background-color: #f3f3f3
		}
		.table tbody tr:nth-of-type(odd){
			background-color: white;
		}
		.table tbody tr:last-of-type{
			border-bottom: 2px solid crimson;
		}

